<phpunit bootstrap="bootstrap.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" stopOnFailure="false" syntaxCheck="true">

	<testsuites>
		<testsuite name="Jolt All Tests">
			<file>alltests.php</file>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist>
			<directory suffix=".php">../jolt/</directory>
		</whitelist>
		<blacklist>
			<file>../jolt/framework.php</file>
		</blacklist>
	</filter>

	<logging>
		<log type="coverage-html" target="./coverage/" charset="UTF-8" yui="true" highlight="true" />
	</logging>
</phpunit>
